:root {
  --heading-text-color: #212121;
  --text-color: #757575;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
}
body {
  background-color: var(--primary-white-color);
  color: var(--heading-text-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

/* Logo */
.logo {
  text-decoration: none;
  color: var(--heading-text-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.2;
}

.list {
  padding: 0%;
  margin: 0;
  list-style: none;
}

.logo-web {
  color: var(--accent-color);
}

/* Header */

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-nav {
  display: flex;
  align-items: center;
}

.flex-box {
  display: flex;
}

.nav-list {
  display: flex;
  margin-left: 93px;
}

/* .nav-list .nav-item:not(:last-child) {
  margin-right: 50px;
} */

.nav-list .nav-item + .nav-item {
  margin-left: 50px;
}

.nav-item a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--heading-text-color);

  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.nav-item a:hover,
.nav-item a:focus {
  color: var(--accent-color);
}

.contacts-list {
  display: flex;
  margin-left: auto;
}

.contacts-list .contact-item + .contact-item {
  margin-left: 50px;
}

.contact-item a {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: var(--text-color);

  text-decoration: none;
  letter-spacing: 0.02em;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
}

.contact-item a:hover,
.contact-item a:focus {
  color: var(--accent-color);
}

/*Hero */
.hero {
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: var(--primary-white-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.hero-btn {
  border-radius: 4px;
  padding: 10px 32px;

  background-color: var(--accent-color);
  color: var(--primary-white-color);
  font-weight: bold;
  font-size: 16px;
  line-height: 1.85;
  letter-spacing: 0.06em;
  border: none;
}

/* Hero filter btn */
.filter-btn {
  padding: 6px 22px;

  border: none;
  border-radius: 4px;

  color: var(--heading-text-color);
  background-color: #f5f4fa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  font-family: Roboto;
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.filter-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.filter-list .item-btn + .item-btn {
  margin-left: 8px;
}

/* Main */

/* Portfolio */

.title-portfolio {
  display: none;
}

/* description */

.description-title {
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.description-text {
  font-size: 14px;
  line-height: 1.7;
}

.description-text,
.team-text,
.example-text {
  color: var(--text-color);
}

.description-list {
  display: flex;
}

.description-list .description-item + .description-item {
  margin-left: 30px;
}

.example-item a {
  text-decoration: none;
}

.example-title {
  margin-bottom: 4px;

  color: var(--heading-text-color);
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.example-text {
  font-size: 16px;
  line-height: 1.87;
}

.example-list {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: -30px;
  margin-right: -30px;
}

.example-item {
  margin-bottom: 30px;
  margin-right: 30px;
}

.example-list > .contact-item {
  flex-basis: calc((100% - 60px) / 4);
}

.ex-box {
  padding: 20px 24px;
  background: #ffffff;
  border: 1px solid #eeeeee;
  box-sizing: border-box;
  border-top: none;
}

/* Work */

.work {
  padding-bottom: 94px;
}

.work-title-list {
  display: flex;
}
.work-title-list .work-img + .work-img {
  margin-left: 30px;
}

/* Team */

.team-container {
  padding-top: 30px;
  padding-bottom: 30px;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-list .team-box + .team-box {
  margin-left: 30px;
}

.team {
  background-color: #f5f4fa;
}

.team-box {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.work-title,
.team-title {
  margin-bottom: 50px;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team-name {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}

.team-text {
  font-size: 16px;
  line-height: 1.18;
}

/* Footer */

.footer a {
  text-decoration: none;
}

.footer-logo {
  margin-bottom: 20px;
  display: block;

  color: var(--primary-white-color);
  font-family: Raleway, sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.93;
}
.footer-location {
  margin-bottom: 9px;

  color: var(--primary-white-color);
  font-size: 14px;
  line-height: 1.71;
}

.footer-logo-web {
  color: var(--accent-color);
}

.footer-contact {
  display: block;
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.71;
}

.footer-contact:not(:last-child) {
  margin-bottom: 9px;
}

.footer,
.hero {
  background-color: #2f303a;
}

.footer-logo,
.footer-contact,
.footer-location {
  font-style: normal;
}

.footer-box {
  padding-top: 60px;
  padding-bottom: 60px;
}
